
<ul class="mui-menu">
  <li *ngIf="!isLoggedIn" class="mui-menu-item">
    <a href="/login" class="mui-link">
      <i class="material-icons">login</i>
      התחברות
    </a>
  </li>
  <li class="mui-menu-item">
    <a href="/register" class="mui-link">
      <i class="material-icons">person_add</i>
      הרשמה
    </a>
  </li>
  <li  class="mui-menu-item">
    <a href="/logOut" class="mui-link">
      <i class="material-icons">exit_to_app</i>
      התנתקות
    </a>
  </li>
  <li class="mui-menu-item">
    <a href="/allOfCourses" class="mui-link">
      <i class="material-icons">list</i>
      כל הקורסים
    </a>
  </li>
  <li class="mui-menu-item">
    <a href="/addCourse" class="mui-link">
      <i class="material-icons">add</i>
      הוספת קורס
    </a>
  </li>
</ul>
